/* Пагинация собственного дизайна */
.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.pagination {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.page-item {
    margin: 0 3px;
}

.page-link {
    padding: 10px 15px;
    text-decoration: none;
    color: #444;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.page-item.active .page-link {
    background-color: #444;
    color: #fff;
}

.page-link:hover {
    background-color: #444;
    color: #fff;
}

.page-item.disabled .page-link {
    pointer-events: none;
}
