.hamburger-menu {
  width: 50px;
}

#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  right: 0 !important;
}
.menu__btn {
  position: fixed;
  top: 30px;
  right: 20px; /* Изменено значение left на right */
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 2000;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #aaa;
  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  right: -100%; /* Изменено значение left на right */
  width: 250px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #444;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .25s;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;

  text-align: center;
}
.menu__item:hover {
  background-color: #777;
}

.menu__button {
  width: 100%;
  background-color: #444;
  border: none;
}

.menu__button:hover {
  background-color: #777;
}

.menu__button, .menu__dashboard {
  font-size: 16px;
}

.menu__box .line {
  display: list-item;
  margin: 0 auto;
  border-top: 1px solid black;
  width: 80%;
  height: 1px;
}

.auth {
  font-size: 14px;
}

.auth__buttons {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 20px; /* Выравниваем по верхнему краю */
  right: 80px; /* Отступ справа от бургер-меню */
}

.auth {
  font-size: 14px;
  margin-right: 10px;

  text-decoration: none;

  color: #000;
  font-weight: 500;

  border-radius: 16px;
  padding: 5px 12px;

  transition: all 0.3s ease;
}

.auth:hover {
  background-color: #616161;
  color: #ddd;
}

.user-name {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 10px; /* Выравниваем по верхнему краю */
  right: 120px; /* Отступ справа от бургер-меню */
}

.auth {
  color: #fff;
}

