.partners_img {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;

    width: 70%;

    gap: 60px;
}

.partners_img a {
    text-align: center;

    transition: transform 0.3s ease-in-out;
}

.partners_img a:hover {
    transform: scale(1.07);
}

.partners_img img {
    height: 200px;
}


